/* contact.css */

/* Style de la liste des contacts */
.contacts {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Style de chaque contact */
.contact {
    width: 20%;
    height: 300px;
    margin: 1%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact:hover {
    transform: scale(1.05);
}
/* Style de l'image du contact */
.contact img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Style du pseudo du contact */
.contact h3 {
    margin: 0;
    padding: 10px;
    background-color: #f0f0f0; /* Fond gris */
}

/* Style du statut du contact */
.contact div {
    padding: 10px;
    background-color: #f0f0f0;
}

/* Style du lien sur le contact */
.contact a {
    text-decoration: none; /* Supprime les soulignements */
    color: inherit;
}
