header {
    background-color: #03559E;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
nav ul li {
    display: inline;
    margin-left: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}
.menu-deroulant{
    display: none;
}
/* Styles pour le menu burger */
#menu-toggle {
    display: none;
}
#menu-icon {
    margin-right: 50px;
    display: block;
    cursor: pointer;
}
/* Styles pour les lignes du menu burger */
.line {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: transform 0.3s ease;
}
/* Styles pour l'animation du menu burger */
#menu-toggle:checked + #menu-icon .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
#menu-toggle:checked + #menu-icon .line:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked + #menu-icon .line:nth-child(3) {
    transform: rotate(-45deg) translate(9px, -9px);
}
/* Styles pour le panneau de menu */
#menu-panel {
    opacity: 0;
    visibility: hidden;
    background-color: #3A7AB3;
    padding: 20px;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease, top 0.5s ease, visibility 0.2s;
}
/* Affichage du panneau de menu lorsque le menu burger est coché */
#menu-toggle:checked ~ #menu-panel {
    opacity: 1;
    visibility: visible;
    top: 130px;
}
@media screen and (max-width: 768px) {
    /*Partie en-tete*/   
    header h1{
        display: none;
    }    
    .logo img {
        margin-left: 25px;
    }    
    .menu-ordi nav ul {
        margin-left: 50px;
    }
    .menu-deroulant{
        display: block;
    }
    #menu-panel ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);        
        margin-left: -10px;        
    }    
    #menu-panel ul li {
        text-align: center;        
    }
    .menu-ordi{
        display: none;
    }
}